.btn-toggle {
  display: none;
}
.page-header,
.footer {
  max-width: 980px;
  height: auto;
  margin: 0 auto;
  margin-top: 125px;
}
.menu {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 15px;
  .col {
    height: 15px;
  }
}
.topic {
  width: 40%;
  height: 80px;
  border: solid 5px black;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 1;
  font-weight: 400;
  font-size: 35px;
  text-align: justify;
  text-align-last: justify;
  padding: 10px;
  a {
    color: black;
  }
  span {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.navi {
  display: flex;
  width: 15%;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 145px;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 15px;
  .ico img {
    width: 20px;
    height: 20px;
  }
}
.page-content {
  max-width: 980px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.baner-content {
  width: 100%;
  height: 391px;
  background-image: url(./images/border-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.content-description {
  position: relative;
  display: inline-block;
  width: 96%;
  height: auto;
  margin: 20px;
  border: solid 1px gray;
  .picture {
    width: 48%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .description {
    width: 48%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    .username {
      width: 100%;
      height: 50px;
      &__name {
        position: absolute;
        top: 21px;
        left: 44px;
      }
    }
    .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 25px;
      background-color: rgb(56, 56, 236);
      color: white;
      text-align: center;
      line-height: 35px;
    }
    .watching {
      // display: inline;
      position: absolute;
      top: 44px;
      left: 44px;
    }
    .description-bread {
      line-height: 40px;
      .title-about {
        font-weight: 300;
      }
      p {
        font-size: 20px;
      }
    }
    .statistic {
      padding-top: 20px;
      width: 90%;
      height: 60px;
      border-top: 2px solid rgb(173, 166, 166);
      span {
        margin-left: 30px;
        margin-right: 80px;
      }
      .heart {
        color: red;
        content: "";
        font-size: 20px;
      }
    }
  }
}
.content-btn {
  position: relative;
  width: 100%;
  height: 300px;
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    background-color: black;
    border-radius: 1px;
    font-size: 20px;
    color: white;
  }
}
.footer {
  margin-top: 0px;
  .footer-blog,
  .footer-info {
    width: 100%;
    height: auto;
    .blog-sofia,
    .blog-reciept,
    .footer-container {
      display: inline-block;
      position: relative;
      width: 49%;
      height: auto;
      &__picture {
        width: 60%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__about {
        width: 40%;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding-left: 20px;
        p {
          font-size: 20px;
          height: 50px;
        }
        .shtric {
          margin-top: 20px;
          content: "";
          width: 30px;
          height: 4px;
          border: 2px solid black;
        }
        .about-description {
          width: 100%;
          height: 40px;
          margin-top: 40px;
        }
      }
    }
  }
}
.footer-info {
  margin-top: 40px;
  position: relative;
}
.footer-container {
  &__about {
    left: 0;
  }
  &__navi {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
}
.log-in-form {
  width: 60%;
  height: auto;
  position: absolute;
  right: 20px;
  top: 0;
  .form-field {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
  }
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
  }
  p {
    margin-top: 50px;
  }
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 19px;
  }
  p {
    font-size: 15px;
  }
  .baner-content {
    height: 200px;
  }
  .topic {
    width: 100%;
    font-size: 34px;
    top: 48px;
  }
  .navi {
    width: 80%;
    top: 30px;
    right: 0;
  }
  .menu {
    position: absolute;
    display: block;
    top: 40px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    z-index: 2;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.5s;
    .col {
      cursor: pointer;
      padding-left: 20px;
      padding-top: 20px;
      width: 100%;
      height: 40px;
    }
  }
  .btn-toggle {
    display: block;
    position: absolute;
    top: 20px;
    left: 5px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid #d0d4d8;
    background-color: transparent;
  }
  .btn-toggle img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .menu.active {
    visibility: visible;
    transform: scaleY(1);
  }
  .content-description {
    display: block;
    height: 500px;
    margin: 20px 0 0 0;
    width: 100%;
    .picture,
    .description {
      padding-left: 10px;
      width: 100%;
      height: auto;
      display: block;
    }
    .description {
      top: 250px;
      .description-bread {
        margin-top: 20px;
      }
      .description-bread p {
        font-size: 15px;
      }
      .icon {
        position: absolute;
        top: 18px;
      }
      .username {
        height: 80px;
        &__name,
        .watching {
          left: 60px;
        }
      }
    }
  }
  .footer {
    .footer-blog {
      .blog-sofia,
      .blog-reciept {
        width: 100%;
      }
    }
    .footer-info {
      // .footer-container,
      .log-in-form {
        padding: 3px;
        right: 0;
        top: 145px;
        width: 100%;
        &__about {
          width: 100%;
        }
      }
      .footer-container {
        width: 100%;
      }
    }
  }
}
@media (max-width: 812.1px) {
  h1 {
    font-size: 22px;
  }
  .content-description .description .description-bread p {
    font-size: 12px;
  }
  .topic {
    font-size: 28px;
  }
}
@media (max-width: 768.5px) {
  .topic {
    font-size: 26px;
  }
}
