$main-color: red;


.container {
    background: red($color: #000000);
    >.child {
        border: 1px solid yellow;
    }
    &-dark {
        background: hotpink;
    }
    &.active {
        color: yellow;
    }
}
.child {
    border: 1px solid green($color: #000000);
}
