.block {
  height: 100%;
  width: 100%;
  position: relative;
}
.item {
  height: 150px;
  position: relative;
  padding: 0.5rem;
}
.item:hover {
  background-color: rgb(226, 226, 217);
}
.block img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog {
  height: 100%;
  width: 30%;
  position: absolute;
  left: 0;
}
.blog img {
  height: 100%;
  width: 100%;
}
.item-blog {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-20%, -50%);
  color: white;
}
.item:nth-child(1) .block {
  background-color: #3387ea;
}
.item:nth-child(2) .block {
  background-color: #f9be3e;
}
.item:nth-child(3) .block {
  background-color: #d3573e;
}
.item:nth-child(4) .block {
  background-color: #59b0e2;
}
.item:nth-child(5) .block {
  background-color: #33af95;
}
.item:nth-child(6) .block {
  background-color: #86a73f;
}
.item:nth-child(7) .block {
  background-color: #151a26;
}
.item:nth-child(8) .block {
  background-color: #7e5b8c;
}
.item-content {
  color: white;
  width: 400;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 20px;
}
.title {
  padding: 0.5rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .container {
    position: static;
    top: initial;
    left: initial;
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  .item .col-2 {
    flex-basis: 16.666666%;
  }
}
@media screen and (max-width: 575px) {
  .col-2 {
    flex-basis: 49.999998%;
  }
  .col-4,
  .col-6,
  .last {
    flex-basis: 99.999998%;
  }
}
